@media (min-width:768px) {

    body { padding-top: 60px } /* height of the menu collapsed */

    /* ensures the navbar contents to be centered */
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }

    /*.nav-bg {*/
        /*height: 0px;*/
        /*width: 100%;*/
        /*position: absolute;*/
        /*top: 50px;*/
        /*background: #e7e7e7;*/
        /*transition: all .2s ease-in-out;*/
    /*}*/

    /*.menu-open .nav-bg { height: 100px } !* change to your height of the child menu *!*/

    .menu-open #page {
        padding-top:60px;
        transition: all .2s ease-in-out;
    }

    .navbar-nav.nav > li {
        position: static;
    }

    .navbar-nav.nav .dropdown-menu {
        left: 0 !important;
        right: 0 !important;
        box-shadow: none;
        border: none;
        margin: 0 auto;
        max-width: 1170px;
        background: transparent;
        padding: 0;

        /*OWN RULES*/
        text-align:center;
    }

    .navbar-nav.nav .dropdown-menu > li {
        /*OWN RULES*/
        /*float: left */
        display:inline-block;
    }

    .navbar-nav.nav .dropdown-menu > li > a {
        width: auto !important;
        background: transparent;
        line-height: 49px;
        padding-top: 0;
        padding-bottom: 0;
        margin: 0;
    }
}