.wine-red
{
    color:#943a53;
}

.bright-grey
{
    color:#999;
}

hr
{
    border-top:2px solid rgba(0, 0, 0, 0.2);
}

ul.nav > li.nav-item:not(:last-child)
{
    border-right:1px solid #943a53;
}

ul.navbar-nav > li.nav-item:not(:last-child)
{
    border-right:1px solid #943a53;
}
ul.navbar-nav > li.nav-item > a
{
    white-space: nowrap;
}